* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: rgb(26, 23, 69);
  text-shadow: 2px 2px 5px rgb(94, 113, 170);
  color: rgb(81, 108, 183);
}

h2 {
  color: rgb(71, 85, 118);
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 0px;
  margin-left: 0px;
  padding: 5px;
  background-attachment: relative;
  background-image: linear-gradient(rgba(212, 212, 188, 0), rgb(108, 166, 224));
  width: 100% auto;
  height: 790px;
  z-index: 1;
}

nav {
  background-color: cornflowerblue;
  padding: 15px;
  width: 100%;
  height: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 35px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: rgb(223, 176, 184);
  text-decoration: none;
}

img {
  width: 310pt;
  height: auto;
  padding: 5px;
  border: 2px solid orange;
}
